/*
    This file contains a series of utility styling classes.
    These can be combined with other classes to make quick, consistent adjustments to style.
*/

.u-padding-sm {
    padding: var(--padding-sm);
}

.u-box-shadow {
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-light);
}

.u-text-shadow {
    text-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-light);
}

.u-center {
   left: 50%;
   position: relative;
   top: 50%;
   transform: translate(-50%, -50%);
}

.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-div-bottom-r {
    bottom: 0%;
    position: absolute;
    right: 0%;
}

.u-link-underline {
    border-bottom: var(--underline-size) solid var(--text-white);
}
