
/*
    Spacing Variables
*/
:root {
    --body-padding: 3rem;
    --header-cutout-height: 30vh;
    --header-height: 90vh;
    --header-height-min: calc(var(--header-height) - var(--header-cutout-height));
    --padding-sm: 5rem;
    --section-shadow-x: -20px;
    --section-shadow-y: 30px;
    --section-shadow-blur: 40px;
    --shadow-x: -10px;
    --shadow-y: 20px;
    --shadow-blur: 30px;
    --caption-padding-top: 1rem;
    --profile-picture-size: 30vh;
    --heading-primary-padding-btm: 5rem;
    --heading-secondary-padding-btm: 4rem;
    --header-container-left-height: var(--header-height-min);
    --header-right-padding-top: calc(var(--header-height-min)/2 - var(--profile-picture-size)/2 - var(--caption-padding-top)/2 - var(--caption-font-size)*(1 + var(--font-multiplier))/2 - var(--h1-font-size)*var(--font-multiplier)/2);
    --header-right-padding-right: calc((100vw - var(--gutter-horizontal)*2)/6 - var(--profile-picture-size)/2);

}

/*
    Color Variables
*/
:root {
    --light-blue: rgba(107, 191, 255, .95);
    --dark-blue: rgba(18, 105, 176, 1);
    --text-white: white;
    --shadow-light: rgba(0,0,0,.35);
    --shadow-dark: rgba(0,0,0,.65);
    --background-white: whitesmoke;
}

/*
    Font Variables
*/
:root {
    --caption-font-size: 3rem;
    --h1-font-weight: 700;
    --h2-font-weight: 500;
    --h3-font-weight: 500;
    --h4-font-weight: 300;
    --h5-font-weight: 200;
    --h1-font-size: 9rem;
    --h2-font-size: 5rem;
    --h3-font-size: 4rem;
    --h4-font-size: 3rem;
    --h5-font-size: 2.5rem;
    --body-font-size: 1.6rem;
}

/*
    Grid Variables
*/
:root {
    --gutter-horizontal: 60px;
    --gutter-vertical: 60px;
}

/*
    Other Variables
*/

:root {
    --gradient-direction: right;
    --profile-picture-border-width: 5px;
    --anchor-underline-size: 1px;
    --font-multiplier: .22;
}
