.row {
    width: 100%;

}

.row:after {
    content: '';
    display: table;
    clear: both;
}

.row:not(:last-child) {
    margin-bottom: 80px;
}

.col-1-of-3 {
    width: calc((100% - 60px*2)/3);

    float: left;
}

.col-1-of-3:not(:last-child) {
    margin-right: 60px;
}

.col-2-of-3 {
    width: calc((100% - 60px*2)*2/3 + 60px);

    float: left;
}

.col-2-of-3:not(:last-child) {
    margin-right: 60px;
}