/* 
TODO: Style Guide.
*/

/*
This will make text still reflect the default font size
of the user
*/
body {
  font-size: var(--body-font-size); 
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  padding: var(--body-padding);
}

/* 
Since most browsers have a default of 16px, 1rem = 10px
Unless if the user increased their default font size
*/
html {
  font-size: 62.5%; 
  width: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
}

/* #greeting-container {
  margin-top: 2rem; 
} */

.header-primary {
    height: var(--header-height);

    position: relative;
    color: var(--text-white);

    


    background-image: linear-gradient(to var(--gradient-direction), var(--light-blue), var(--dark-blue)) , url(images/header-background.jpg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 var(--header-height-min));
}


.section-shadow-wrapper {
    filter: drop-shadow(var(--section-shadow-x) var(--section-shadow-y) var(--section-shadow-blur) var(--shadow-light));
}

.u-padding-sm {
    padding: var(--padding-sm);
}

.caption-lg {
    margin-top: var(--caption-padding-top);
    display: block;
    font-size: var(--caption-font-size);
}

.img-circle {
   display: inline-block;
   border-radius: 50%;
   object-fit: cover;
   height: var(--profile-picture-size);
   width: var(--profile-picture-size);

   border: var(--profile-picture-border-width) solid var(--shadow-dark);

   
}

.u-box-shadow {
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-light);
}

.u-text-shadow {
    text-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-light);
}

.u-center {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    color: var(--text-white);
    border-bottom: var(--anchor-underline-size) solid var(--text-white);
}

a img {
    vertical-align: top;
}

.u-text-center {
    text-align: center;
}
.u-text-right {
    text-align: right;
}

.header-container-left {
    height: calc(var(--header-height) - var(--header-cutout-height));
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
}

h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
}

h5 {
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
}

.heading-secondary {
    padding-bottom: var(--heading-secondary-padding-btm);
}


.header-container-right {
    padding: var(--header-right-padding-top) var(--header-right-padding-right) var(--padding-sm) var(--padding-sm);
    height: calc(var(--header-height) - var(--header-cutout-height)/2);
    position: relative;
}

.heading-primary {
    padding-bottom: var(--heading-primary-padding-btm);
}

.u-div-bottom-r {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

#header-bottom-r {
    padding-right: calc(var(--header-right-padding-right) + var(--body-padding)/3);
}

#after-header{
    margin-top: calc(var(--header-cutout-height) - var(--header-height));
    padding-top: calc((var(--header-cutout-height) - var(--header-height))/2);
}

.section-sub {
    background-color: var(--background-white);
}

#passions {
    text-decoration: underline;
}

.blinking-cursor {
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
