/* 
TODO: Style Guide.
*/

/*
This will make text still reflect the default font size
of the user
*/
body {
  font-size: 1.6rem; 
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
}

/* 
Since most browsers have a default of 16px, 1rem = 10px
Unless if the user increased their default font size
*/
html {
  font-size: 62.5%; 
  width: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 65rem; 
}

#greeting-container {
  margin-top: 2rem; 
}

.header-primary {
    height: 90vh;

    position: relative;
    color: white;


    background-image: linear-gradient(to right, rgba(107, 191, 255, .95), rgba(18, 105, 176, 1)) , url(images/header-background.jpg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60vh);
}

.u-padding-sm {
    padding: 5rem;
}

.caption-lg {
    margin-top: 10px;
    display: block;
    font-size: 3rem;
}

.img-circle {
   display: inline-block;
   border-radius: 50%;
   object-fit: cover;
   height: 30vh;
   width: 30vh;

   border: 5px solid rgba(0,0,0,.65);

   
}

.u-box-shadow {
    box-shadow: -1rem 2rem 3rem rgba(0,0,0,.25);
}

.u-text-shadow {
    text-shadow: -1rem 2rem 3rem rgba(0,0,0,.25);
}

.u-center {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.u-text-center {
    text-align: center;
}
.u-text-right {
    text-align: right;
}

#header-container-left {
    height: 60vh;
}

h1 {
    font-size: 9rem;
    font-weight: 700;
}


#header-container-right {
    padding: calc(60vh/2 - 30vh/2 - 10px/2 - 3rem*1.22/2 - 9rem*.22/2) calc((100%-60px*2)/6 - 15vh) 5rem 5rem;
}
